@model MovieApp.Models.MovieModel
@using MovieApp.Models;

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/movie.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/rateMovie.js"></script>

@{
    //get genres list as string in order to show it on details page
    var genresString = ""; ;
    foreach (var gen in Model.genres)
    {
        genresString += gen.name + ", ";
    }
    genresString = genresString.Substring(0, genresString.Length - 2);

    //format release date in order to remove hour
    var releaseDate = Model.release_date.ToString("dddd, dd MMMM yyyy");
}

@{
    //get first trailer video
    var trailerSrc = "";
    foreach (var item in Model.videos.results)
    {
        if (item.type == "Trailer")
        {
            trailerSrc = "https://www.youtube.com/embed/" + item.key;
        }
    }
}

<body class="bg-info">

    <div id="apiDiv">

        <div id="movieTitle" class="h2">@Model.title</div>
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <iframe width="420" height="345" src="@trailerSrc">
                    </iframe>
                </div>
                <div class="col-6">
                    <p>@Model.overview</p>
                    <p>Genre: @genresString</p>
                    <p>Popularity: @Model.popularity</p>
                    <p>Release date: @releaseDate</p>
                    <p>Vote average: @Model.vote_average</p>
                </div>
            </div>
        </div>


        <div id="bottomLinks">
            @if(User.Identity.IsAuthenticated)
            {
                <div class="">
                    <button class="btn btn-success mx-5" id="addReview" onclick="showRatingInput()"><i class="fa fa-plus">Add a review</i></button>
                </div>
                <div class="rateMovie bg-light m-5" id="ratingZone" style="display:none">
                    <div class="container"> 
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <textarea class="form-control" id="opinionArea" rows="3"></textarea>
                            </div>
                            <div class="col">
                                <button onclick="sendReview(@Model.id, '${@Model.title}')" class="btn btn-secondary"><i class="fa fa-imdb"></i> Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="return"><a href="@Url.Action("Index", "Home")">Back to movies list</a></div>
        </div>
    </div>

</body>